{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!{% endblock %}

{% block body %}
    {{ parent() }}

    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-4 bg-white rounded my-5 p-4">
                {% for message in app.flashes('mensaje') %}
                    <div class="alert alert-success mt-2" >
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="mb-3">
                    Usted esta logueado con el usuario: {{ usuario.username }}
                </div>
                <div>
                    <h6>Primer Ingreso - Porfavor cambie su contraseña para continuar</h6>
                    {{ form(formulario) }}
                    <!--<a href="{{ path('pagprincipal') }}" class="btn btn-secondary" >Continuar</a>-->
                </div>
            </div>
        </div>
    </div>



{% endblock %}
